<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do lists</title>
  </head>
  <body>
    <h1 id="title">
      To-Do
    </h1>

    <div class="form">
      <form action="" method="POST">
        {% csrf_token %}
        <input
          type="text"
          id="id_new_item"
          name="item_text"
          placeholder="작업 아이템 입력"
        />
      </form>
    </div>

    <div class="table">
      <table id="id_list_table">
        <tr>
          <td>1: {{ now_item_text }}</td>
        </tr>
      </table>
    </div>
  </body>
</html>
